body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  font-family: 'Dancing Script', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.diary {
  background: #fdf6e3;
  width: 90%;
  max-width: 420px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

.page {
  background: repeating-linear-gradient(
    #fdf6e3,
    #fdf6e3 28px,
    #e6dccc 29px
  );
  padding: 20px;
  border-radius: 10px;
}

h3 {
  text-align: center;
  color: #b8005c;
}

.photo-frame {
  margin: 15px auto;
  width: 100%;
  max-height: 320px;
  overflow: hidden;
  border-radius: 12px;
  border: 3px solid #b8005c;
  background: #fff;
}

.photo-frame img {
 width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}

.message {
  margin-top: 10px;
  font-size: 18px;
  color: #4b2c2c;
  line-height: 1.5;
}

.signature {
  margin-top: 15px;
  text-align: right;
  font-size: 15px;
  color: #b8005c;
}
